<h1>Welcome to Quora</h1>

<h2>Login</h2>
<form method=post action="/login">
    <input type=text placeholder="Email" name="user[email]"><br>
    <input type=password placeholder="Password" name="user[password]"></br>
    <input type=submit value="Login">
</form>

<a href="/signup">Click here to Sign Up</a>


























<!-- <h2>Sign up for an account!</h2>
<form method="post" action="/signup">
    <input type=text placeholder="Email" name="user[email]"><br>
    <input type=password placeholder="Password" name="user[password]"></br>
    <input type=submit value="Sign up"><input type=submit value="Login">
</form> -->