<p>Welcome to Quora <%= current_user.first_name%></p>

<a href="/users/<%= current_user.id %>/question"> Ask your question here</h3>
<!-- Button to submit asked question -->
 <!-- <form action='/' method='post'>
    Question:<br>
    <input type="text" name="name" value=""><br>
    <input type="submit" value="Submit">
  </form>
 -->



<!-- <h2>Logout</h2> -->
	<form method=post action=/logout>
    
    <input type=submit value="logout">
</form>
