<p>Welcome to Quora <%= current_user.first_name%></p>

<!-- <h1>Welcome to Quora </h1> -->
<!-- <h2>Logout</h2> -->
	<form method=post action=/logout>
    
    <input type=submit value="logout">
</form>
